[submodule "test/WordMasterMind.Tests"]
	path = test/WordMasterMind.Test
	url = git@github.com:FreddieMercurial/WordMasterMind.Test.git
[submodule "WordMasterMind.wiki"]
	path = wiki
	url = https://github.com/FreddieMercurial/WordMasterMind.wiki.git
