@inherits LayoutComponentBase

<div class="page">
    @if (EnableSidebar)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
    else
    {
        <main>
            @Body
        </main>
    }
</div>

@code
{
    public bool EnableSidebar { get; private set; } = false;
}
