@if (GameStateMachine.Game is not null)
{
    <div id="board" style="width: 350px; height: 420px;">
        @for (var attemptIndex = 0; attemptIndex < GameStateMachine.Game.MaxAttempts; attemptIndex++)
        {
            <GameRow AttemptIndex="attemptIndex"></GameRow>
        }
    </div>
}