@page "/"
@using GameEngine.Blazor.Helpers
<div id="alert-container" class="alert-container" data-alert-container></div>
<BodyElement CssClass="@Constants.NightModeClass" Title="@GameEngine.Library.Helpers.Constants.GameTitle" />
<PageTitle>@GameEngine.Library.Helpers.Constants.GameTitle</PageTitle>
<GameEngineUI></GameEngineUI>