<select name="@Name" id="@Name">
    @foreach (var source in Sources)
    {
        <option value="@source.FileTypeString" id="src-@source.SourceTypeString.ToLowerInvariant()">@source.Description</option>
    }
</select>