@using WordMasterMind.Library.Models
<select name="@Name" id="@Name">
    @foreach (var source in Sources)
    {
        <option value="@source.FileType.ToString()" id="src-@source.SourceType.ToString().ToLowerInvariant()">@source.Description</option>
    }
</select>