<div id="board" style="width: 350px; height: 420px;">
    <game-row letters="" length="5"></game-row>
    <game-row letters="" length="5"></game-row>
    <game-row letters="" length="5"></game-row>
    <game-row letters="" length="5"></game-row>
    <game-row letters="" length="5"></game-row>
    <game-row letters="" length="5"></game-row>
</div>