<div id="board" style="width: 350px; height: 420px;">
    @{
        if (GameStateMachine.Game is null)
            throw new Exception(message: "Unexpected game state/null game");
    }
    @for (var attemptIndex = 0; attemptIndex < GameStateMachine.Game.MaxAttempts; attemptIndex++)
    {
        if (attemptIndex < GameStateMachine.Game.CurrentAttempt)
        {
            <GameRow AttemptIndex="@attemptIndex"></GameRow>
        }
        else
        {
            <GameRow AttemptIndex="@attemptIndex"></GameRow>
        }
    }
</div>