<div class="game-row row">
    @if (Letters.Length > 0)
    {
        var solvedLetters = GameStateMachine.Game.SolvedLettersAsChars();
        var index = 0;
        foreach (var letter in Letters)
        {
            var solvedLetter = solvedLetters[index++];
            var letterIsSolved = solvedLetter.Equals(obj: letter);
            var evaluation = letterIsSolved ? nameof(LetterEvaluation.Correct) : solvedLetters.Contains(value: letter) ? nameof(LetterEvaluation.Present) : nameof(LetterEvaluation.Absent);
            <GameTile letter="@letter" evaluation="@evaluation.ToLowerInvariant()" reveal="@letterIsSolved.ToString().ToLowerInvariant()"/>
        }
    }
    else
    {
        @for (var counter = 0; counter < Length; counter++)
        {
            <GameTile letter=""></GameTile>
        }
    }
</div>