@using WordMasterMind.Library.Exceptions
<section>
    <div class="modal fade show instructions" id="instructions"
         style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Settings</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-label">Hard Mode</div>
                        <div class="form-control" @onclick="ToggleHardMode">
                            @if (GameStateMachine.HardMode)
                            {
                                <i class="fas fa-toggle-on"></i>
                            }
                            else
                            {
                                <i class="fas fa-toggle-off"></i>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-label">@(GameStateMachine.DailyWord ? "Daily Word" : "Random Word")</div>
                        <div class="form-control" @onclick="@ToggleDailyWord">
                            @if (GameStateMachine.DailyWord)
                            {
                                <i class="fas fa-toggle-on"></i>
                            }
                            else
                            {
                                <i class="fas fa-toggle-off"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>