<div id="board" style="width: 350px; height: 420px;">
    @if (GameStateMachine.Game is not null) {
        @for (var i = 0; i < GameStateMachine.Game.MaxAttempts; i++)
        {
            <GameRow letters=""></GameRow>
        }
    }
</div>