<div id="game">
    <header>
        <div class="title">
            Word MasterMind
        </div>
        <div class="menu">
            <button id="help-button" class="icon" aria-label="rules" @onclick="OnRulesClick">
                <i class="fad fa-info"></i>
            </button>
            <button id="statistics-button" class="icon" aria-label="statistics">
                <i class="fad fa-chart-line"></i>
            </button>
            <button id="settings-button" class="icon" aria-label="settings" @onclick="OnSettingsClick">
                <i class="fad fa-cogs"></i>
            </button>
        </div>
    </header>
    @if (GameStateMachine.State is GameState.Rules)
    {
        <RulesDialog OnClose=@OnRulesDialogClose></RulesDialog>
    }
    else if (GameStateMachine.State is GameState.Settings)
    {
        <GameSettingsDialog OnSettingsClosed=@OnGameSettingsDialogClose></GameSettingsDialog>
    }
    else if (GameStateMachine.State is GameState.SourceSelection or GameState.LengthSelection)
    {
        @if (GameStateMachine.State is GameState.SourceSelection)
        {
            <h1>Select a Dictionary</h1>
            <DictionarySourceList></DictionarySourceList>
        }
        else if (GameStateMachine.State is GameState.LengthSelection)
        {
            <h1>Select a Word Length</h1>
            <WordLengthList></WordLengthList>
        }
        <div class="row">
            <div style="float:  left;">
                <button class="icon" aria-label="back" @onclick="OnBackClick">
                    <i class="fas fa-step-backward"></i>
                </button>
            </div>
            <div style="float:  left;">
                <button class="icon" aria-label="next" @onclick="OnNextClick">
                    <i class="fas fa-step-forward"></i>
                </button>
            </div>
        </div>
    }
    else if (GameStateMachine.State is GameState.Playing or GameState.GameOver)
    {
        <div id="board-container">
            <GameBoard></GameBoard>
        </div>
        @if (GameStateMachine.State is GameState.Playing)
        {
            <GameKeyboard></GameKeyboard>
        }
    }
    else
    {
        <h3>Unknown state</h3>
    }
</div>