@using WordMasterMind.Library.Enumerations
@using WordMasterMind.Library.Models
@if (State is GameState.Rules)
{
    <Splash></Splash>
}
@if (State is GameState.SourceSelection)
{
    <DictionarySourceList></DictionarySourceList>
}
@if (State is GameState.LengthSelection)
{
}
@if (State is GameState.Playing or GameState.GameOver)
{
    <div id="board-container">
        <GameBoard></GameBoard>
    </div>
    <game-keyboard></game-keyboard>
}

@code {
    public WordMasterMindGame? Game { get; private set; }
    public LiteralDictionarySources DictionarySource { get; private set; }
    public LiteralDictionary LiteralDictionary { get; private set; }
    public GameState State { get; private set; }

    public GameStateMachine()
    {
        Game = null;
        State = GameState.Rules;
    }

}